.navbar-top {
  height: 100px;
  width: 100%;
  background-color: #6F6866; /* Colour here Peter */
}

.flexsdisplay-top {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-username {
  font-weight: 500;
}

.navbar-logout {
  color: blac;
}

.search-box {
  
}
